[package]
name = "thought"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4.16", features = ["derive"] }
copy_dir = "0.1.3"
env_logger = "0.10.1"
itertools = "0.12.0"
liquid = "0.26.4"
log = "0.4.20"
pulldown-cmark = "0.9.3"
serde = { version = "1.0.195", features = ["derive"] }
thiserror = "1.0.56"
time = { version = "0.3.31", features = ["serde"] }
toml = "0.8.8"
