[workspace]
members = ["core"]
resolver = "2"


[package]
name = "thought"
version = "0.1.0"
edition = "2021"
description = "A CLI tool for managing thoughts and ideas."
license = "MIT"
repository = "https://github.com/mrekay/thought"
homepage = "https://github.com/mrekay/thought"
documentation = "https://docs.rs/thought"
keywords = ["cli", "notes", "thoughts", "ideas", "journal"]
categories = ["command-line-utilities"]


[dependencies]
thiserror.workspace = true
thought-core.workspace = true
smol.workspace = true
serde.workspace = true
time.workspace = true
serde_json.workspace = true
[[bin]]
name = "thought"
path = "src/cli/main.rs"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'


[workspace.dependencies]
thought = { path = "." }
thought-core = { path = "core" }
serde = { version = "1.0.228", features = ["derive"] }
time = { version = "0.3.44", features = ["serde-well-known","macros"] }
toml = "0.8.23"
thiserror = "1.0.69"
url = "2.5.7"
pulldown-cmark = "0.9.6"
smol = "2.0.2"
serde_json = "1.0.145"



[workspace.lints]
rust.missing_docs = "warn"
rust.missing_debug_implementations = "warn"
clippy.all = "warn"
clippy.style = "warn"
clippy.correctness = "warn"
clippy.complexity = "warn"
clippy.suspicious = "warn"
clippy.perf = "warn"
clippy.pedantic = "warn"
clippy.nursery = "warn"
clippy.cargo = "warn"
clippy.multiple_crate_versions =  { level = "allow", priority = 1 }


[lints]
workspace = true
